.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    text-decoration: none;
}


.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    text-decoration: none;



}


.nav-connect {
    padding: 20px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;


}

.nav-connect:hover {
    transform: scale(1.05)
        /* when hover size will change bigger */
}

.nav-menu .active {
    color: #b923e1;
    text-decoration: dotted underline;
}

.nav {
    text-decoration: none;
    color: white;
    width: 60px;
    text-align: center;


}



.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

.logo {
    margin-left: -150px;
}

@media(max-width:768px) {
    .navbar {
        margin: 20px 50px;

    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 20px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

    .logo {
        margin: 30px 0;
    }
}

@media only screen and (max-device-width: 480px) {
    .logo {
        margin: 10px 30px;

    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
        left: 350px;
        top: 40px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 20px;
        left: 300px;
        width: 30px;
    }
}